openapi: 3.0.0
servers:
  - description: "Referentie-implementatie"
    url: https://www.voorbeeldgemeente.nl/api/open_raads__en_stateninformatie/v1
info:
  title: Open Raads- en StatenInformatie
  description: "<body><p>Dit is de API-documentatie voor Open RaadsInformatie. Deze versie is gebaseerd op de ervaringen die opgedaan zijn tijdens het maken van een referentie-implentatie. Met deze specificatie kan een deel van de gegevens die in het informatiemodel beschreven zijn ontsloten worden. Daarnaast is in deze versie een toevoeging gedaan waardoor de API ook JSON-LD compliant is.Vooralsnog wordt er geen centraal context-bestand gepubliceerd, maar de standaard is wel voorbereid op het gebruik van een context bestand. Dit is de versie na conversie naar het MIM 1.1</p></body>"
  version: "1.0.0"
  x-imvertor-generator-version: "1.64.1"
  x-yamlCompiler-stylesheets-version: "20210428"
  contact:
    url: https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
paths:
  /agendapunten:
    get:
      operationId: Getagendapunten
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen van een collectie agendapunten retourneert.</p></body>"
      parameters:
        - in: query
          name: page
          description: "Een pagina binnen de gepagineerde resultatenset."
          required: false
          schema:
            type: integer
            minimum: 1
        - in: query
          name: agendapuntomschrijving
          description: ""
          required: false
          schema:
            type: string
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: gemeentecode
          description: ""
          required: false
          schema:
            type: string
        - in: query
          name: gewijzigdsinds
          description: "<body><p>Met deze parameter kunnen vergaderingen opgevraagd worden waarin iets is gewijzigd sinds het opgegeven moment.</p></body>"
          required: false
          schema:
            type: string
        - in: query
          name: provincie
          description: ""
          required: false
          schema:
            $ref: "#/components/schemas/Provincie"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Pagination-Page:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Page"
            X-Pagination-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Limit"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgendapuntHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Agendapunten
  /agendapunten/{agendapuntnummer}:
    delete:
      operationId: delagendapunt
      description: "<body><p>Het bericht dat de JSON/REST API voor het verwijderen van gegevens van een agendapunt .</p></body>"
      parameters:
        - in: path
          name: agendapuntnummer
          description: "<body><p>Unieke identificatie van het agendapunt.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
      responses:
        '200':
          description: "Verwijderactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
        '204':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/204"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
      tags:
      - Agendapunten
    get:
      operationId: getagendapunt
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen gegevens van een agendapunt retourneert.</p></body>"
      parameters:
        - in: path
          name: agendapuntnummer
          description: "<body><p>Unieke identificatie van het agendapunt.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgendapuntHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Agendapunten
    post:
      operationId: postagendapunt
      description: "<body><p>Het vastleggen van een AGENDAPUNT</p></body>"
      parameters:
        - in: path
          name: agendapuntnummer
          description: "<body><p>Unieke identificatie van het agendapunt.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/AgendapuntHal'
      responses:
        '201':
          description: "OK"
          headers:
            Location:
              description: "URI van de nieuwe resource"
              schema:
                type: string
                format: uri
                example: '/agendapunten/{agendapuntnummer}/'
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgendapuntHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Agendapunten
    put:
      operationId: putagendapunt
      description: "<body><p>Het wijzigen van een AGENDAPUNT</p></body>"
      parameters:
        - in: path
          name: agendapuntnummer
          description: "<body><p>Unieke identificatie van het agendapunt.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/AgendapuntHal'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Agendapunt'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Agendapunten
  /informatieobjecten:
    get:
      operationId: Getinformatieobjecten
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen van een collectie informatieobjecten retourneert.</p></body>"
      parameters:
        - in: query
          name: page
          description: "Een pagina binnen de gepagineerde resultatenset."
          required: false
          schema:
            type: integer
            minimum: 1
        - in: query
          name: auteur
          description: "<body><p>De naamgegevens van de auteur zijnde een betrokkene die in een rol aan de ZAAK gerelateerd is, dan wel, indien de auteur niet in een rol aan de ZAAK gerelateerd is, de naamgegevens van de natuurlijk persoon of organisatie zijnde de auteur. In het laatste geval verdient het aanbeveling om aanvullend te vermelden uit welken hoofde het auteurschap wordt uitgeoefend.</p></body>"
          required: false
          schema:
            type: string
            maxLength: 200
        - in: query
          name: bronorganisatie
          description: "<body><p>bronorganisatie</p></body><body><p>De in het NHR voorkomende unieke identificaties van rechtspersonen en samenwerkingsverbanden.</p></body>"
          required: false
          schema:
            type: integer
        - in: query
          name: creatiedatum
          description: "<body><p>creatiedatum</p></body><body><p>Alle geldige datums gelegen op of voor de huidige datum en tijd</p></body>"
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: datumingediend
          description: ""
          required: false
          schema:
            type: string
            format: date
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: gemeentecode
          description: ""
          required: false
          schema:
            type: string
        - in: query
          name: omschrijving
          description: ""
          required: false
          schema:
            type: string
        - in: query
          name: ontvangstdatum
          description: ""
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: provincie
          description: ""
          required: false
          schema:
            $ref: "#/components/schemas/Provincie"
        - in: query
          name: taal
          description: "<body><p>bij voorkeur ISO 639-2/B</p></body>"
          required: false
          schema:
            type: string
            maxLength: 20
        - in: query
          name: titel
          description: "<body><p>titel</p></body><body><p>alle alfanumerieke tekens</p></body>"
          required: false
          schema:
            type: string
            maxLength: 200
        - in: query
          name: vergaderingidentificaties
          description: ""
          required: true
          schema:
            type: string
        - in: query
          name: versie
          description: "<body><p>versie</p></body><body><p>Alle alfanumerieke tekens m.u.v. diacrieten</p></body>"
          required: false
          schema:
            type: string
            maxLength: 5
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Pagination-Page:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Page"
            X-Pagination-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Limit"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InformatieObjectHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Informatieobjecten
  /informatieobjecten/{informatieobjectidentificatie}:
    delete:
      operationId: delinformatieobject
      description: "<body><p>Het bericht dat de JSON/REST API voor het verwijderen van gegevens van een informatieobject.</p></body>"
      parameters:
        - in: path
          name: informatieobjectidentificatie
          description: "<body><p>informatieobjectidentificatie</p></body><body><p>Alle alfanumerieke tekens m.u.v. diacrieten</p></body>"
          required: true
          schema:
            type: string
            maxLength: 40
      responses:
        '200':
          description: "Verwijderactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
        '204':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/204"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
      tags:
      - Informatieobjecten
    get:
      operationId: getinformatieobject
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen gegevens van een informatieobject retourneert.</p></body>"
      parameters:
        - in: path
          name: informatieobjectidentificatie
          description: "<body><p>informatieobjectidentificatie</p></body><body><p>Alle alfanumerieke tekens m.u.v. diacrieten</p></body>"
          required: true
          schema:
            type: string
            maxLength: 40
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InformatieObjectHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Informatieobjecten
    post:
      operationId: postinformatieobject
      description: "<body><p>Het vastleggen van eenInformatieobject</p></body>"
      parameters:
        - in: path
          name: informatieobjectidentificatie
          description: "<body><p>informatieobjectidentificatie</p></body><body><p>Alle alfanumerieke tekens m.u.v. diacrieten</p></body>"
          required: true
          schema:
            type: string
            maxLength: 40
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/InformatieObjectHal'
      responses:
        '201':
          description: "OK"
          headers:
            Location:
              description: "URI van de nieuwe resource"
              schema:
                type: string
                format: uri
                example: '/informatieobjecten/{informatieobjectidentificatie}/'
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InformatieObjectHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Informatieobjecten
    put:
      operationId: putinformatieobject
      description: "<body><p>Het wijzigen van een Informatieobject</p></body>"
      parameters:
        - in: path
          name: informatieobjectidentificatie
          description: "<body><p>informatieobjectidentificatie</p></body><body><p>Alle alfanumerieke tekens m.u.v. diacrieten</p></body>"
          required: true
          schema:
            type: string
            maxLength: 40
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/InformatieObjectHal'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InformatieObject'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Informatieobjecten
  /vergaderingen:
    get:
      operationId: Getvergaderingen
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen van vergaderingsgegevens retourneert.</p></body>"
      parameters:
        - in: query
          name: page
          description: "Een pagina binnen de gepagineerde resultatenset."
          required: false
          schema:
            type: integer
            minimum: 1
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: gemeentecode
          description: ""
          required: false
          schema:
            type: string
        - in: query
          name: gewijzigdsinds
          description: "<body><p>Met deze parameter kunnen vergaderingen opgevraagd worden waarin iets is gewijzigd sinds het opgegeven moment.</p></body>"
          required: false
          schema:
            type: string
        - in: query
          name: naam
          description: ""
          required: false
          schema:
            type: string
            maxLength: 100
        - in: query
          name: provincie
          description: ""
          required: false
          schema:
            $ref: "#/components/schemas/Provincie"
        - in: query
          name: status
          description: ""
          required: false
          schema:
            $ref: "#/components/schemas/VergaderingStatus"
        - in: query
          name: vergaderdatum
          description: ""
          required: false
          schema:
            type: string
            format: date
        - in: query
          name: vergaderingstype
          description: ""
          required: false
          schema:
            $ref: "#/components/schemas/VergaderingsType"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Pagination-Page:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Page"
            X-Pagination-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Limit"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VergaderingHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Vergaderingen
  /vergaderingen/{vergaderingsidentificatie}:
    delete:
      operationId: deletevergaderingenVergaderingsidentificatie
      description: "<body><p>Het bericht dat de JSON/REST API voor het verwijderen van gegevens van een Vergadering</p></body>"
      parameters:
        - in: path
          name: vergaderingsidentificatie
          description: "<body><p>De eerste vier karakter zijn de gemeentecode, gevolgd door een volgnummer van 7 cijfers met voorloopnullen.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
          example: 1234567890
      responses:
        '200':
          description: "Verwijderactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
        '204':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/204"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
      tags:
      - Vergaderingen
    get:
      operationId: Getvergadering
      description: "<body><p>Het bericht dat de JSON/REST API voor het ophalen van vergaderingsgegevens retourneert.</p></body>"
      parameters:
        - in: path
          name: vergaderingsidentificatie
          description: "<body><p>De eerste vier karakter zijn de gemeentecode, gevolgd door een volgnummer van 7 cijfers met voorloopnullen.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
          example: 1234567890
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VergaderingHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/404"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Vergaderingen
    post:
      operationId: postvergadering
      description: "<body><p>Het vastleggen van een Stemresultaatperfractie</p></body>"
      parameters:
        - in: path
          name: vergaderingsidentificatie
          description: "<body><p>De eerste vier karakter zijn de gemeentecode, gevolgd door een volgnummer van 7 cijfers met voorloopnullen.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
          example: 1234567890
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/VergaderingHal'
      responses:
        '201':
          description: "OK"
          headers:
            Location:
              description: "URI van de nieuwe resource"
              schema:
                type: string
                format: uri
                example: '/vergaderingen/{vergaderingsidentificatie}/1234567890'
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VergaderingHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Vergaderingen
    put:
      operationId: putvergaderingenVergaderingsidentificatie
      description: "<body><p>Het wijzigen van een vergadering</p></body>"
      parameters:
        - in: path
          name: vergaderingsidentificatie
          description: "<body><p>De eerste vier karakter zijn de gemeentecode, gevolgd door een volgnummer van 7 cijfers met voorloopnullen.</p></body>"
          required: true
          schema:
            type: string
            maxLength: 10
          example: 1234567890
      requestBody:
        content:
          application/hal+json:
            schema:
                $ref: '#/components/schemas/VergaderingHal'
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Vergadering'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/403"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/500"
        '501':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/501"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/503"
        'default':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/responses/default"
      tags:
      - Vergaderingen
components:
  schemas:
    AgendapuntHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks"
        _embedded:
          type: "object"
          properties:
            agendapunten:
              type: "array"
              items:
                $ref: "#/components/schemas/AgendapuntHal"
    AgendapuntHal:
      allOf:
      - $ref: "#/components/schemas/Agendapunt"
      - type: "object"
        properties:
          _links:
            $ref: "#/components/schemas/Agendapunt_links"
    Agendapunt:
      type: "object"
      description: ""
      required:
      - "agendapuntnummer"
      properties:
        "@context":
          type: "string"
          description: |
                        T.b.v. het parsen vabn JSON-LD. Zie [documentatie](https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie/tree/master/docs/json_to_ld.md).
        "@id":
          type: "string"
          description: |
                          Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@type":
          type: "string"
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        agendapuntKenmerk:
          type: "string"
          title: "Agendapunt kenmerk"
          description: ""
          maxLength: 20
        agendapuntOmschrijving:
          type: "string"
          title: "Agendapunt omschrijving"
          description: ""
        agendapuntTitel:
          type: "string"
          title: "Agendapunt titel"
          description: ""
          maxLength: 100
        agendapuntnummer:
          type: "string"
          title: "Agendapuntnummer"
          description: ""
          maxLength: 10
          minLength: 1
        agendapuntvolgnummer:
          type: "string"
          title: "Agendapuntvolgnummer"
          description: ""
          maxLength: 3
        eindtijd:
          type: "string"
          title: "Eindtijd"
          description: "<body><p>Moet voor komen als Starttijd voorkomt</p></body>"
          format: "date-time"
        gemeente:
          allOf:
          - $ref: "#/components/schemas/Gemeente"
          - title: "gemeente"
            description: ""
        geplandAgendapuntvolgnummer:
          type: "string"
          title: "Gepland agendapuntvolgnummer"
          description: ""
          maxLength: 10
        geplandeEindtijd:
          type: "string"
          title: "Geplande eindtijd"
          description: ""
          format: "date-time"
        geplandeStarttijd:
          type: "string"
          title: "Geplande starttijd"
          description: ""
          format: "date-time"
        indicatieHamerstuk:
          type: "boolean"
          title: "Indicatie hamerstuk"
          description: ""
          example: "true"
        indicatorBehandeld:
          type: "boolean"
          title: "Indicator behandeld"
          description: "<body><p>defaultwaarde = nee</p></body>"
        indicatorBesloten:
          type: "boolean"
          title: "Indicator besloten"
          description: "<body><p>defaultwaarde = nee</p></body>"
        provincie:
          $ref: "#/components/schemas/Provincie"
        starttijd:
          type: "string"
          title: "Starttijd"
          description: ""
          format: "date-time"
    InformatieObjectHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks"
        _embedded:
          type: "object"
          properties:
            informatieobjecten:
              type: "array"
              items:
                $ref: "#/components/schemas/InformatieObjectHal"
    InformatieObjectHal:
      allOf:
      - $ref: "#/components/schemas/InformatieObject"
      - type: "object"
        properties:
          _links:
            $ref: "#/components/schemas/InformatieObject_links"
    InformatieObject:
      type: "object"
      description: ""
      required:
      - "bronorganisatie"
      - "informatieObjectIdentificatie"
      - "informatieObjectType"
      properties:
        "@context":
          type: "string"
          description: |
                        T.b.v. het parsen vabn JSON-LD. Zie [documentatie](https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie/tree/master/docs/json_to_ld.md).
        "@id":
          type: "string"
          description: |
                          Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@type":
          type: "string"
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        auteur:
          type: "string"
          title: "Auteur"
          description: "<body><p>De naamgegevens van de auteur zijnde een betrokkene\
            \ die in een rol aan de ZAAK gerelateerd is, dan wel, indien de auteur\
            \ niet in een rol aan de ZAAK gerelateerd is, de naamgegevens van de natuurlijk\
            \ persoon of organisatie zijnde de auteur. In het laatste geval verdient\
            \ het aanbeveling om aanvullend te vermelden uit welken hoofde het auteurschap\
            \ wordt uitgeoefend.</p></body>"
          maxLength: 200
        bestandsomvang:
          type: "integer"
          title: "bestandsomvang"
          description: ""
        bronorganisatie:
          type: "integer"
          title: "Bronorganisatie"
          description: "<body><p>bronorganisatie</p></body><body><p>De in het NHR\
            \ voorkomende unieke identificaties van rechtspersonen en samenwerkingsverbanden.</p></body>"
        creatiedatum:
          type: "string"
          title: "Creatiedatum"
          description: "<body><p>creatiedatum</p></body><body><p>Alle geldige datums\
            \ gelegen op of voor de huidige datum en tijd</p></body>"
          format: "date"
        datumIngediend:
          type: "string"
          title: "Datum ingediend"
          description: ""
          format: "date"
        formaat:
          type: "string"
          title: "formaat"
          description: ""
        gemeente:
          allOf:
          - $ref: "#/components/schemas/Gemeente"
          - title: "gemeente"
            description: ""
        informatieObjectIdentificatie:
          type: "string"
          title: "Informatieobjectidentificatie"
          description: "<body><p>informatieobjectidentificatie</p></body><body><p>Alle\
            \ alfanumerieke tekens m.u.v. diacrieten</p></body>"
          maxLength: 40
          minLength: 1
        informatieObjectType:
          $ref: "#/components/schemas/InformatieObjectType"
        inhoud:
          type: "string"
          title: "Inhoud"
          description: "<body><p>De content (data) van het enkelvoudig informatieobject\
            \ in het formaat zoals gespecificeerd met de attribuutsoort 'Formaat'.</p></body>"
        link:
          type: "string"
          title: "Link"
          description: ""
          format: "uri"
        omschrijving:
          type: "string"
          title: "omschrijving"
          description: ""
        ontvangstdatum:
          type: "string"
          title: "ontvangstdatum"
          description: ""
          format: "date"
        provincie:
          $ref: "#/components/schemas/Provincie"
        taal:
          type: "string"
          title: "Taal"
          description: "<body><p>bij voorkeur ISO 639-2/B</p></body>"
          maxLength: 20
        titel:
          type: "string"
          title: "Titel"
          description: "<body><p>titel</p></body><body><p>alle alfanumerieke tekens</p></body>"
          maxLength: 200
        typeMotie:
          $ref: "#/components/schemas/MotieType"
        typeVraag:
          $ref: "#/components/schemas/VraagType"
        versie:
          type: "string"
          title: "Versie"
          description: "<body><p>versie</p></body><body><p>Alle alfanumerieke tekens\
            \ m.u.v. diacrieten</p></body>"
          maxLength: 5
    VergaderingHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks"
        _embedded:
          type: "object"
          properties:
            vergaderingen:
              type: "array"
              items:
                $ref: "#/components/schemas/VergaderingHal"
    VergaderingHal:
      allOf:
      - $ref: "#/components/schemas/Vergadering"
      - type: "object"
        properties:
          _links:
            $ref: "#/components/schemas/Vergadering_links"
    Vergadering:
      type: "object"
      description: ""
      required:
      - "vergaderingsidentificatie"
      properties:
        "@context":
          type: "string"
          description: |
                        T.b.v. het parsen vabn JSON-LD. Zie [documentatie](https://github.com/VNG-Realisatie/ODS-Open-Raadsinformatie/tree/master/docs/json_to_ld.md).
        "@id":
          type: "string"
          description: |
                          Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@type":
          type: "string"
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        aanvangVergadering:
          type: "string"
          title: "Aanvang vergadering"
          description: "<body><p>Komt zeker voor als Einde vergadering ook is ingevuld</p></body>"
          format: "date-time"
          example: "2017-02-10T18:25:00:000Z"
        audioLink:
          type: "string"
          title: "Audio link"
          description: ""
          format: "uri"
          example: "https://www.voorbeeldgemeente.nl/audio/link"
        eindeVergadering:
          type: "string"
          title: "Einde vergadering"
          description: ""
          format: "date-time"
          example: "2017-02-10T21:12:00:000Z"
        gemeente:
          allOf:
          - $ref: "#/components/schemas/Gemeente"
          - title: "gemeente"
            description: ""
        georganiseerdDoorGremium:
          allOf:
          - $ref: "#/components/schemas/Gremium"
          - title: "georganiseerdDoorGremium"
            description: ""
        geplandeAanvangVergadering:
          type: "string"
          title: "Geplande aanvang vergadering"
          description: ""
          format: "date-time"
          example: "2017-02-09T18:25:00:000Z"
        geplandeEindeVergadering:
          type: "string"
          title: "Geplande einde vergadering"
          description: ""
          format: "date-time"
          example: "2017-02-09T21:25:00:000Z"
        geplandeVergaderdatum:
          type: "string"
          title: "Geplande vergaderdatum"
          description: ""
          format: "date"
          example: "2017-02-09"
        locatie:
          type: "string"
          title: "Locatie"
          description: ""
          maxLength: 100
          example: "Raadszaal, Stadskantoor, Overtoom 2"
        naam:
          type: "string"
          title: "Naam"
          description: ""
          maxLength: 100
          example: "Raadsvergadering"
        provincie:
          $ref: "#/components/schemas/Provincie"
        status:
          $ref: "#/components/schemas/VergaderingStatus"
        vergaderToelichting:
          type: "string"
          title: "Vergader toelichting"
          description: ""
          example: "Regulier geplande raadsvergadering van mei"
        vergaderdatum:
          type: "string"
          title: "Vergaderdatum"
          description: ""
          format: "date"
          example: "2017-02-10"
        vergaderingsidentificatie:
          type: "string"
          title: "Vergaderingsidentificatie"
          description: "<body><p>De eerste vier karakter zijn de gemeentecode, gevolgd\
            \ door een volgnummer van 7 cijfers met voorloopnullen.</p></body>"
          maxLength: 10
          minLength: 1
          example: "1234567890"
        vergaderingstype:
          $ref: "#/components/schemas/VergaderingsType"
        videoLink:
          type: "string"
          title: "Video link"
          description: ""
          format: "uri"
          example: "https://www.voorbeeldgemeente.nl/video/link"
    Agendapunt_links:
      type: "object"
      properties:
        "@id":
          type: string
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@context":
            type: string
            format: "uri"
            example: "href: @id "
            description: "Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting"
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        informatieobjecten:
          title: "heeftAlsBijlage"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        agendapunten:
          title: "heeftAlsSubagendapunt"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        vergaderingen:
          allOf:
          - title: "wordtBehandeldTijdens"
            type: "object"
            description: ""
          - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    InformatieObject_links:
      type: "object"
      properties:
        "@id":
          type: string
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@context":
            type: string
            format: "uri"
            example: "href: @id "
            description: "Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting"
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        omvat-informatieobjecten:
          title: "omvat"
          type: "array"
          description: ""
          minItems: 2
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        vergaderingen:
          title: "isBijlage"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    Vergadering_links:
      type: "object"
      properties:
        "@id":
          type: string
          description: |
                        Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting
        "@context":
            type: string
            format: "uri"
            example: "href: @id "
            description: "Additioneel element om het mogelijk te maken om JSON-LD te parsen. Zie [documentatie](https://github.com/VNG-Realisatie/Open-Raadsinformatie/tree/master/docs/json_to_ld.md) voor nadere toelichting"
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        informatieobjecten:
          title: "heeftAlsBijlage"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        agendapunten:
          title: "wordtBehandeldTijdens"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        deelvergaderingen:
          title: "heeftAlsDeelvergadering"
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.3.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    Gemeente:
      type: "object"
      description: "<body><p>De referentielijst met alle gemeenten</p><p>Tabel 33\
        \ van de landelijke tabellen</p></body>"
      required:
      - "gemeenteCode"
      - "gemeenteNaam"
      properties:
        gemeenteCode:
          type: "string"
          title: "Gemeente code"
          description: "<body><p>De code van een gemeente in de landelijke tabel</p></body>"
          maxLength: 4
          minLength: 1
        gemeenteNaam:
          type: "string"
          title: "Gemeente naam"
          description: "<body><p>De naam van de gemeente</p></body>"
          minLength: 1
    Gremium:
      type: "object"
      description: ""
      required:
      - "gremiumNaam"
      - "gremiumidentificatie"
      properties:
        gremiumNaam:
          type: "string"
          title: "Gremium naam"
          description: ""
          maxLength: 100
          minLength: 1
        gremiumidentificatie:
          type: "string"
          title: "gremiumidentificatie"
          description: ""
          maxLength: 10
          minLength: 1
    InformatieObjectType:
      type: "string"
      description: "<body><p>Het type van het informatieobject</p></body>"
      enum:
      - "vraag"
      - "antwoord"
      - "motie"
      - "besluitvormingsstuk"
      - "ingekomen_stuk"
      - "toezegging"
      - "mededeling"
    MotieType:
      type: "string"
      description: ""
      enum:
      - "voorstel"
      - "afkeuring"
      - "treurnis"
      - "wantrouwen"
      - "vreemd"
      - "overig"
    Provincie:
      type: "string"
      description: ""
      enum:
      - "drenthe"
      - "groningen"
      - "overijssel"
      - "flevoland"
      - "friesland"
      - "gelderland"
      - "utrecht"
      - "noord_holland"
      - "zuid_holland"
      - "zeeland"
      - "noord_brabant"
      - "limburg"
    VergaderingStatus:
      type: "string"
      description: ""
      enum:
      - "gepland"
      - "gehouden"
      - "geannuleerd"
    VergaderingsType:
      type: "string"
      description: ""
      enum:
      - "raadsvergadering"
      - "commissievergadering"
      - "presidium"
      - "statenvergadering"
    VraagType:
      type: "string"
      description: "<body><p>de type van de vraag</p></body>"
      enum:
      - "technische_vraag"
      - "mondelinge_politieke_vraag"
      - "schriftelijke_politieke_vraag"
